GPATH
GRTAGS
GTAGS
*/ExtROM3/OBJECT/*
OBJECT/*
!OBJECT/output/*.exe
*/ExtROM3/si/*
*.kdev4
.kdev4/*
.vscode
*.bak
*release/*
*.bin
Main/C0ST~V4O\.ARF
Main/SIGN~MOH\.ARF
Main/C0ST~BCB\.ARF
Main/SIGN~069\.ARF
version_log
.DS_Store
tags
types_c.taghl
types_py.taghl
.grayout.conf
*.lst
/si/*
*.si4project/*
*.backup
config.h
