@charset "UTF-8";

body{
	font-family:Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	overflow:hidden;
}

header{
	font-size:2em;
	position:relative;
	padding:10px;
	color:#40555F;
	background:#58C8D0;
}

header h1{
	margin-left:40px;
	font-weight:bold;
}

main{
	display:block;
	padding:0px 20px;
	color:#333;
	background:#FFF;
	width:100%;
}

section{
	padding:0 25px;
}

section h1{
	font-size:3em;
	color:#40555F;
	margin-bottom:10px;
}
